<%- errorMessagesFor(htmlblock) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("body", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("body") %>
   </div>
</div>
