<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.htmlblocks() %>">htmlblocks</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit htmlblock</a></li>
</ul>

<div class="page-header">
    <h1>Edit htmlblock</h1>
</div>

<% var form = formFor(htmlblock, {action: pathTo.htmlblock(htmlblock), method: 'PUT', id: "htmlblock-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update htmlblock', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.htmlblock(htmlblock), {class: 'btn'}) %>
</div>
<%- form.end() %>
