<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.htmlblocks() %>">htmlblocks</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New htmlblock</a></li>
</ul>

<div class="page-header">
    <h1>New htmlblock</h1>
</div>

<% var form = formFor(htmlblock, {action: pathTo.htmlblocks(), method: 'POST', id: "htmlblock-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create htmlblock', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.htmlblocks(), {class: 'btn'}) %>
</div>
<%- form.end() %>
