<%- errorMessagesFor(registration) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("last_name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("last_name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("middle_name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("middle_name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("country", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("country") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("city", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("city") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("organization", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("organization") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("position", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("position") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("degree", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("degree") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("academic_title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("academic_title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("speach_title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("speach_title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("co_author", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("co_author") %>
   </div>
</div>
