<p>New registration</p>

<%- user.name %>
<br/><%- user.last_name %>
<br/><%- user.middle_name %>
<br/><%- user.country %>
<br/><%- user.city %>
<br/><%- user.organization %>
<br/><%- user.position %>
<br/><%- user.degree %>
<br/><%- user.academic_title %>
<br/><%- user.phone %>
<br/><%- user.email %>
<br/><%- user.speach_title %>
<br/><%- user.co_author %>
<br/><%- user.lang %>
<br/><%- user.created_date %>

